<h2>
  <span [ngStyle]="{'font-weight': 'bold', 'font-size': titleSize + 'px'}"
        [ngClass]="{'colored': isColored}">Hello, {{name}}!</span>
  <button mat-mini-fab (click)="titleSize = titleSize + 1">+</button>
  <button mat-mini-fab (click)="titleSize = titleSize - 1">-</button>
  <button mat-raised-button color="warn" (click)="isColored = !isColored">Color!</button>
</h2>
<p>Email: {{email}}</p>
<p>
  <i>{{age}} years old</i>
  <button mat-raised-button color="primary" (click)="decreaseAge()">Younger?</button>
  <button mat-raised-button color="warn" (click)="increaseAge()">Older?</button>
  <b *ngIf="age > 23">(You're old!)</b>
</p>

<div>Born on: {{dateOfBirth | date: 'shortDate'}} ({{dateOfBirth | date: 'fullDate'}})<br>
    Current savings: {{savings | currency:'USD' }} (= {{savings * 50 | currency:'PHP':true}})<br>
    Family name: {{familyName | uppercase}} (code: {{familyName | uppercase | slice:0:3}})<br>
    BMI: {{ weight / size | number:'2.2-5'}}<br>
    BMI (%) {{ weight / size | percent}}
    <p>Coming from
      <span [ngClass]="{'blueText': country == 'USA', 'redText': country == 'Lebanon', 'greenText': country == 'Philippines'}">{{country}}</span>
      <select [(ngModel)]="country">
        <option *ngFor="let c of countries">{{c}}</option>
      </select>
      <span [ngSwitch]="country">
        <i *ngSwitchCase="'Lebanon'">Marhaba!</i>
        <i *ngSwitchCase="'USA'">Howdy!</i>
        <i *ngSwitchCase="'Philippines'">Mabuhay!</i>
        <i *ngSwitchDefault>Hi!</i>
      </span>
    </p>
</div>

<p>Live in {{adress.street}}, {{adress.city}}</p>
Hobbies:
<ul>
  <li *ngFor="let h of hobbies; let i = index">{{i + 1}}: {{h}}
    <button (click)="deleteHobby(i)">X</button></li>
  </ul>
  
  <form (submit)="addHobby(hobby.value)">
    <label for="new-hobby">Are there more?</label>
    <input type="text" id="new-hobby" #hobby placeholder="new cool hobby"/>
    <button mat-raised-button color="primary" type="submit">Add</button>
</form>

<p>I am:
  <mat-checkbox>Lebanese</mat-checkbox>
  <mat-checkbox>Swiss</mat-checkbox>
</p>

<mat-button-toggle (click)="toggleEdit()">Edit</mat-button-toggle>

<div *ngIf="editing">
  <hr/>
  <h4>Editing</h4>
  <form>
    <label for="new-email">New email:</label>
    <input type="text" id="new-email" placeholder="new email" [(ngModel)]="email" name="email">
  </form>
</div>
